body {
	overflow-x: hidden;
	color: $dark-gray;
	background: $light-gray;
}
header {
    background: $primary;
    box-shadow: 0 2px 4px 0 rgba(87,71,81,0.2);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    top: 0;
    left: 0;
    transition: ease-in-out 0.5s;
    z-index: 9;
    box-shadow: 5px 3px 7px 0 rgba(0,0,0,0.3);
    .navbar-brand img {
      height: 48px;
  }
}
.container-fluid {
	padding-left: 35px;
	padding-right: 35px;
    @media screen and (max-width: 768px) {
		padding-left: 15px;
		padding-right: 15px;

	    > section.panel:first-child:not(.panel__halves),
	    > section.panel.panel__halves:first-child > .panel--half:first-child {
			height: calc(100vh - 119px);
		    min-height: calc(100vh - 119px);
	    }

    }
}
